<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WpfApp2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WpfApp2.Properties.Settings>
            <setting name="mat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="drillDia" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="diaInt" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="height" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="xErste" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="rabo" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lab" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="deg" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="xVersch" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="spinRPM" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="secur" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="durch" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IsChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="xAbst" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="pathInput" serializeAs="String">
                <value />
            </setting>
        </WpfApp2.Properties.Settings>
    </userSettings>
</configuration>